* {
    margin: 0;
    font-family: 'Montserrat';
    color: white;
}

img{
    max-width: 100%;
    height: auto;
}

.navbar {
    position: sticky;
    top: 0;
    z-index: 1;
    width: 100%;
    height: fit-content;
    text-align: center;
    background-color: #191919;
}

.navbar a {
    text-decoration: none;
    transition: 0.5s;
}

.navbar ul {
    padding: 0;
}

.navbar li {
    list-style-type: none;
    display: inline-block;
    margin: 10px 45px 10px 45px;
    padding: 5px;
}

.navbar a:hover {
    color: crimson;
}

.header{
    display: -ms-inline-grid;
}

.header-left,
.header-right {
    height: 750px;
    background-color: #000000;
    background-image: linear-gradient(to bottom, #191919, #000000);
}

.header-left {
    width: 40%;
    float: left;
}

.header-left img {
    padding: 20% 20% 10% 15%;
}

.header-right {
    width: 60%;
    float: right;
}

.header-right pre {
    padding: 23% 30% 0% 10%;
    line-height: 2.3em;
}

.header-right p {
    padding: 2% 30% 5% 10%;
    line-height: 1.5em;
}

#down_button {
    margin: 2% 30% 10% 10%;
    padding: 5px 30px;
    color: crimson;
    text-decoration: none;
    font-weight: bold;
    border: 3px solid crimson;
}

#down_button:active {
    background-color: crimson;
    border: 3px solid black;
    color: black;
}

#hr1 {
    font-size: 1.5em;
    color: crimson;
}

#hr2 {
    font-size: 2.5em;
}

#hr3 {
    font-size: 2.5em;
    color: crimson;
}

.mid-left,
.mid-right {
    height: 750px;
    background-color: #000000;
}

.mid-left {
    width: 50%;
    float: left;
}

.mid-right {
    width: 50%;
    float: right;
}

.mid-left-content,
.mid-right-content {
    width: 370px;
    height: 400px;
    margin: 30%;
    margin-top: 15%;
    padding: 20px;
    background-color: #191919;
    transition: 0.5s;
}

.mid-right-content {
    margin-left: 20%;
}

.mid-left-content {
    margin-left: 35%;
    margin-right: 20%;
}

.mid-left-content:hover,
.mid-right-content:hover {
    box-shadow: 10px 10px crimson;
}

.mid-left-content p,
.mid-right-content p {
    text-align: center;
    font-size: 1.8em;
    line-height: 2em;
    color: crimson;
}

#list {
    font-size: 1em;
    line-height: 2.5em;
}

.low {
    clear: both;
}

.low-left {
    height: 290px;
    width: 25%;
    float: left;
    padding: 20px;
    background-color: black;
    box-sizing: border-box;
}

.low-left p {
    margin-left: 15px;
    font-size: 1.8em;
    color: crimson;
}

.low-right {
    height: 290px;
    width: 75%;
    float: right;
    background-color: black;
}

.low-left ul {
    padding: 15px;
}

.low-left li {
    list-style-type: none;
}

.low-left a {
    display: block;
    background-color: #191919;
    font-size: 1.3em;
    text-decoration: none;
    padding: 10px;
    line-height: 2em;
    transition: 0.5s;
}

.low-left a:hover {
    background-color: crimson;
}

.low-right-1,
.low-right-2,
.low-right-3 {
    float: left;
    width: 33.33%;
    height: 100%;
}

.low-right-1 i,
.low-right-2 i,
.low-right-3 i {
    font-size: 6em;
    margin: 30%;
    margin-left: 40%;
    transition: 1.5s;
}

.low-right-1 i:hover,
.low-right-2 i:hover,
.low-right-3 i:hover {
    text-shadow: 10px 10px #dc153c;
}

.footer {
    clear: both;
    padding: 20px;
    font-size: 0.8em;
    background-color: #191919;
    letter-spacing: 0.1em;
    text-align: center;
}

#name {
    color: crimson;
    padding: 2px;
    transition: 0.5s;
}

#name:hover {
    box-shadow: 3px 3px white;
    border: 1px solid white;
}

/*
div {
    outline: 2px solid #1dddbc;
}*/